@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #f75a11;
  text-decoration: inherit;
}
a:hover {
  color: #f75a11;
}

h1 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.1;
}
